
.main-layout{
      display: grid;
      grid-template-columns:  minmax(100px,1fr) minmax(auto,980px) minmax(100px,1fr);
}
main{
      border: 1px solid rgb(177, 176, 176);
      border-top: none;
      padding-top: 70px;
      font-family: 'Lato', sans-serif;

}

.main-layout>:not(.full){
      grid-column: 2;
}

.main-layout>.full{
      grid-column: 1 /-1 ;
}

img{
      width: 100%;
}
.main-content{
      gap: 3rem;
}
.card{
      gap: 20px;
}
.card-content{
      flex-direction: column;
}
