.card-button{
    width: 186px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #c2c2c2;
    color: #c2c1c1;
    font-weight: 700;
}
.card-button:hover{
    border-color:  var(--clr-card-button);
    color:  var(--clr-card-button)
}
.card-button:hover::after{
    content: "→";
    color: var(--clr-card-button);
    font-weight: 700;
    margin-left: 5px;
}