
.main-footer{
    grid-template-rows: 2fr 1fr 2fr 2fr;
    place-items: center;
    gap: 40px;
    margin-top: 100px;
    background-color: var(--clr-main-footer);
    box-shadow: inset 0px 1px 0px #e1e0e0;

}
.main-footer img{
    width: 100px;
    height: 50px;
}
.footer-copyrights{
    font-size: 13px;
    line-height: 20px;
    color: #a6a6a6;
    font-weight: 400;
}
.social-links{
    gap: 20px;
}
.sqr{
    width: 40px;
    height: 40px;
    position: relative;
    background-color: #b9b9b9;
}
.sqr i{
    color: white;
    position: absolute;
}

.facebook:hover{
    background-color: #3b5998;
}
.twiter:hover{
    background-color: #1da1f2;
}
.be:hover{
    background-color: #1769ff;
}
.basketball:hover{
    background-color: #fbb034;
}
