.main-nav{
    height: 100%;
    place-items: center;

}

.main-nav ul{
    grid-auto-flow: column;
    border: 1px solid black;
    height: 100%;

}

ul li{
    width: 133px;
}

ul li a {
    height: 100%;
    display: grid;
    place-items: center;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    text-decoration: none; 
    border: 1px solid black;
    
}
ul li a:hover {
    background-color: #1e1e1e;
    color: #58c93a;
    border-bottom: 5px solid  #58c93a;
}