.main-header {
    height: 130px;
    background-color: var(--clr-main-header);
    grid-template-columns: minmax(100px,1fr) minmax(auto,980px) minmax(100px,1fr);
}

.main-header-content {
    grid-column: 2;
}
