.main-nav{
    height: 100%;
}

.main-nav ul{
    grid-auto-flow: column;
    border: 1px solid black;
}

ul li{
    width: 133px;
}

ul li a {
    height: 100%;
    place-items: center;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    text-decoration: none; 
    border: 1px solid black;
    color: white;
    
}
ul li a:hover {
    background-color: #1e1e1e;
    color: var(--clr-card-button);
    border-bottom: 5px solid  var(--clr-card-button)
}